.container{	
	 background: black;
	 height: 4.5rem;
}

.main-container{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;


}
.primary-elert{
	background-color: #EB5757;
	border-radius: 20px;
	padding: 5px 20px;
	size: 16px;
	line-height: 24px;
	weigtht: 400;
	margin: 10px;
}

.navbar{
   display: flex;
   justify-content: space-between;
	background-color: #EB5757;
	size: 16px;
	line-height: 24px;
	weight: 400;
}
 
 .navbar .menus-navbar{
 	text-decoration: none;
 }


.contant{

 background: black;
	 height: 4.5rem;
	 color: #FFFFFF;
	size: 38px;
	weight: 700;
	line-height: 44px;
padding: 5px;

}

 .footer{
 	background-color: black;
 	height: 4.5rem;
 }
  

