@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
}

header {
  height: 8vh;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.container {
  width: min(100%, 1200px);
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

/* STAR-GLOBAL-ITEM */
img {
  max-width: 100%;
}

a{
  text-decoration: none;
}

/* start-anouncment */

.anouncement{
  background: #222222;
  width: 100%;
  padding-block:1.25rem;
}
.anouncement p {
  align-items: center;
}


.anouncement p span{
    background: #eb5757;
    padding: 5px 20px;
    border-radius: 1.2rem;
    font-size: 1rem;
}
.anouncement p a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24px;
  margin-right: 7px;
}
/* end-anouncment */
.logo {
  cursor: pointer;
}

.menus {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.cont-parent {
  background: #eb5757;
  padding-block: 1.19rem;
  align-content: center;
  position: relative;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links li {
  font-size: 16px;
  font-weight: 400;
  margin: 0px 15px;
}

.nav-links li a {
  text-decoration: none;
  padding: 4px 10px;
  margin: 0px 1.5px;
  color: #fff;
  border-radius: 5px;
  transition: 0.6s ease-in-out;
}

.nav-links li:nth-child(6){
  background: #222222;
  padding: 6px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
}

.nav-links li:nth-child(6)::after{
  content: "0";
  width: 18px;
  height: 18px;
  font-size:0.8875rem;
  font-weight: 700;
  border-radius: 18px;
  background: #fff;
  color: #222;
  position: absolute;
  right: -4px;
  top: -6px;
  text-align: center;
}
.nav-links li a:hover {
  background: #222222;
}


/* START-HERO-CONTACT */

.hero-contact{
    height: 85vh;
    margin-left: -2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.left{
  display: grid;
  grid-column: 1 / span 2;
  background: #222;
  flex-direction: row;
  gap: 1.5rem;
  margin-left: 2rem;
  align-items: center;
  position: relative;
}
.left .boxses{
  display: flex;
  gap: 1rem;
  margin: 0px auto;
  margin-top: 4rem;
}

 .Aceme{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}
.boxses .boxs-1{
    margin-top: 2.5rem;
}

.boxs-1 img{
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.boxs-1 h2{
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 1rem;
}

.boxs-1 p{
  width: 80%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: rgb(34, 34, 34);
  margin-bottom: 1rem;
}

.boxs-1 .btn{
  color: #f9f9f9;
  padding: 10px 25px;
  background: #eb5757;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: 0.7s ease-in-out;
}
.boxs-1 .btn:hover{
  background: #222;
  color: #f9f9f9;
}
.right-images{
  background:linear-gradient(90deg,#222, rgba(34,34,34,0.18)),url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84f1e1f02ef1408ff221cc_vinicius-amano-4mK2KVuYrDs-unsplash%20(1)%20(1).jpg");
  /* background-position: 0px 0px, 50% 50%; */
  background-position: center !important;
  background-size: cover;
  background-repeat: repeat, no-repeat;
}


.left .boxs-1{
    width: 351px;
    height: 350px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}

/* END-HERO-CONTACT */

/* START-SECTION-PHONE */

.section-phone{
  height: 60vh;
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.section-phone .flex-phons{
  display: flex;
  gap: 5rem;
  align-items: self-start;
}

.flex-phons .text h3{
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: #222;
}

.flex-phons .text p ,.flex-phons .text .tell p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #222;
}

.flex-phons .text .tell span{
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: rgb(51, 51, 51);
}

.flex-phns .forms{
  width: 100% ;
}

.flex-phons .forms h2{
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #222;
  margin-block: 10px;
}

.flex-phons .forms p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: rgb(51, 51, 51);
  margin-bottom: 10px;
}


.flex-phons .forms label{
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: rgb(51, 51, 51);
}


.flex-phons .forms input{
  width: 800px;
  padding: 0.7rem;
  margin-block: 0.6rem;
  border-radius: 7px;
  border: none;
  border: 1PX solid rgb(51, 51, 51);
  outline: none;
  transition: 0.7s ease;
}
.flex-phons .forms input:hover{
  border: none;
  outline: 0.6px solid #eb5757;
}

.flex-phons .forms .submit{
  border: none;
  padding: 7px 30px;
  background: #eb5757;
  border-radius: 5px;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  transition: 0.6s ease-in-out;
}

.flex-phons .forms .submit:hover{
  background: #222;
}
/* END-SECTION-PHONE */

/* START-FOOTER */
.footer {
    height: 27vh;
    margin-top: 4rem;
    background: #222222;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .content-foter{
    position: relative;
  }
  
  .content-foter .img-icon {
    display: flex;
    justify-content: space-between;
    color: #f9f9f9;
    align-items: center;
  }
  
  .content-foter img {
    cursor: pointer;
  }
  .text-foter{
      text-align: center;
      position: absolute;
      bottom: -60px;
      left: 40%;
  }
  .text-foter p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #f9f9f9;
  }
  .text-foter p span {
    color: rgb(235, 87, 87);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.6s ease-in-out;
  }
  
  .text-foter p span:hover {
    text-decoration: none;
  }
  
  .icon {
    font-size: 2rem;
    font-weight: 400;
    line-height: 24px;
  }
  
  .icon i {
    font-size: 2rem;
    padding: 0px 8px;
    background: #222222;
    cursor: pointer;
    transition: 0.6s ease-in-out;
  }
  
  .icon i:hover {
    color: #bdbdbd;
  }
  
  .loogo-text-bottom {
  background-color: #f9f9f9;
  padding: 5px 5px;
  position: fixed;
  right: 5px;
  bottom: 7px;
  }
  /* END-FOOTER */
/* start responsive */

.hamburger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo-respon {
    display: none;
  }

  .hero-contacts{
    display: none;
  }
  
  @media (max-width: 780px) {
    header .menus {
      display: none;
      width: 100%;
    }
  
    .logo-respon {
      display: flex !important;
      width: 80%;
      display: flex;
      background: transparent;
      padding: 0 1rem;
    }
  
    .logo-respon .logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      padding: 0px 10px;
    }
  
    .logo .logos-btn{
      text-decoration: none;
      color: #f9f9f9;
      background: #222222;
      padding: 6px 15px;
      border-radius: 5px;
    }
  
  
    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      /* background: #f7f7f7; */
      color: #f9f9f9;
      position: absolute;
      top: 22%;
      right: 7%;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .hamburger .bar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 50px;
      width: 50px;
      padding-top: 12px;
      background: #222222;
      margin-top: 1.5rem;
      border-radius: 5px;
    }
  
    .hamburger i {
      z-index: 22222;
    }
  
    /* START-MOBILE-MENU */
    .mobile-menu {
      display: flex;
      justify-content: center;
      background: #eb5757;
      position: fixed;
      inset: 128px 0 0 0;
      width: 100%;
      text-align: center;
      transform: translateX(0%);
      transition: transform 0.8s ease-in-out;
    }
  
    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 9rem;
      width: 100%;
    }
    .navigation .menu-link {
      width: 90%;
      text-align: center;
    }
    .menu-link li {
      list-style: none;
      line-height: 45px;
      font-size: 30px;
      font-family: sen sans-serif;
      width: 98%;
      transition: transform 0.8s ease-in-out;
    }
    .menu-link li a {
      display: block;
      font-weight: 800;
      text-decoration: none;
      color: #f9f9f9;
    }
  
    .menu-link li:hover {
      background: #222;
      border-radius: 5px;
    }
  
    /* START java script hamburger-responsive */
  
    .mobile-menu[data-visible="false"] {
      transform: translateX(100%);
    }
  
    .hamburger i[data-visible="true"] {
      display: block;
    }
  
    .hamburger i[data-visible="false"] {
      display: none;
    }
    /* END java script hamburger-responsive */
  
    /* start-anouncement */
    .anouncement p a{
      flex-direction: column;
      gap: 0.9375rem;
      font-size: 0.965rem;
   }
  .anouncement p span{
    font-size: 0.8rem;
    padding: 3px 20px;
  }
   .cont-parent{
    padding-block: 2.1rem;
   }
   /* END-anouncement */
   .hero-contact{
    display: none;
   }

   .hero-contacts{
    height: 100%;
    /* margin-left: -2rem; */
    display: grid;
    grid-template-columns: 1fr;
  }

  
.left{
  height: 90%;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background: #222;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding-block: 5rem;
  margin-left: -0.1rem;
}
.left .boxses{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: -1rem;
  height: 100%;
  padding-bottom: 4rem;
}

.left .boxses .boxs-1{
    min-width: 400px;
    min-height: 350px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
 .boxses h1{
  color: #fff;
  position: static;
  width: 70%;
  font-size: 36px;
  font-weight: 700;
  margin-left: -9rem;
}
.boxses .boxs-1{
    margin-top: 2.5rem;
}
.right-images{
  height: 100vh;
  background:linear-gradient(90deg,#222, rgba(34,34,34,0.18)),url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84f1e1f02ef1408ff221cc_vinicius-amano-4mK2KVuYrDs-unsplash%20(1)%20(1).jpg");
  /* background-position: 90% 0px, 50% 50% !important; */
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.left .boxs-1{
    width: 351px;
    height: 350px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}

/* START_SECTION_CONTACT */
.section-phone{
  margin-top: 5rem;
  margin-bottom: 40%;
  padding: 1rem;
}
.section-phone .flex-phons{
  flex-direction: column;
  gap: 1rem;
}
.section-phone .flex-phons .text{
  margin-bottom: 3rem;
}
.flex-phons .forms input{
  width: 350px;

}
/* END_SECTION_CONTACT */

   /* start-footer */
   .footer{
    margin-top: 0px;
   }
   .img-icon{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.text-foter{
  left: 23%;
}

.loogo-text-bottom img{
  height: 11px;
}
  /* END-footer */

}