@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Common Css  */
:root {
  --color1: #333;
  --color2: #222;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
body {
  font-family: "Sen", sans-serif;
  background-color: #f9f9f9;
}
.container {
  width: min(100%, 1200px);
  margin-inline: auto;
  padding-inline: 0.9375rem;
}
img {
  max-width: 100%;
}
/* sytle header*/
header {
  background-color: var(--color2);
  /* padding: 1.875rem 0; */
  /* width: 100%; */
  position: sticky;
  top: 0;
  /* position: relative;
  top: 0; */
}
a {
  text-decoration: none;
}

/* Annoucemt style */
.announcement {
  background-color: var(--color2);
  padding: 1.55rem 0;

  width: 100%;
}
.announcement p {
  text-align: center;
}
.announcement a {
  color: #f9f9f9;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  /* text-transform: capitalize; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.925rem;
}
.announcement a span {
  font-size: 1rem;
  background-color: #eb5757;
  border-radius: 1.2rem;
  padding: 8px 22px;
}
/* Desktop style */
.bagr-desktop {
  background-color: #eb5757;
}
.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  /* height: 1vh; */
}

.desktop-menu .menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.menu-links a {
  color: #f9f9f9;
  padding: 5px 15px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  position: relative;
  transition: background-color 0.5s ease-in-out;
  border-radius: 0.2rem;
}
.menu-links a:hover {
  background-color: var(--color2);
  color: white;
  border-radius: 0.325rem;
}
.menu-links li:last-child a {
  background-color: transparent;
}
.cart {
  background-color: none !important;
}

.menu-links a img {
  height: 1.7rem;
  background-color: var(--color2);
  width: 50px;
  border-radius: 0.325rem;
  padding: 1px 0;
  margin-top: 8px;
  position: relative;
}
.menu-links .cart::after {
  content: "0";
  color: black;
  background-color: #f9f9f9;
  width: 20px;
  height: 20px;
  text-align: center;
  right: 10px;
  border-radius: 20px;

  position: absolute;
  font-size: 0.725rem;
  font-weight: 600;
}
.white-tent {
  padding-block: 2.5rem;
  background-color: var(--color2);
}

.text-tent h1 {
  color: #f9f9f9;
  font-size: 2.375rem;
  line-height: 2.75rem;
  text-transform: capitalize;
}
/* ++++========== DONE HEADER STYLE UP========++ */

/* Style for white tent */
.content-section {
  padding-block: 4.0625rem;
}
.prodeuct-heading {
  display: flex;
  gap: 3.75rem;
}
/* It is better to use image as backgrorund becouse height and width will not effect the imga it effects the div or the container in
also it is better to make saparate class to give common width and height  */

.prodeuct-heading .dimension-imgs {
  height: 28.7rem;
  width: 88rem;
  border-radius: 0.3125rem;
}
/* Check README file on the git branch called ➡ ➡  common branch the reason i commment there this img background */
.prodeuct-heading .image1 {
  background: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg")
    top/ cover no-repeat;
}
/* This image2 is Tin coffe page */
.image2 {
  background: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e8542c1248e59128e08e3e9_ryan-holloway-JyDmUaXMib4-unsplash.jpg")
    center/cover no-repeat;
}
/* This image3 is Blue cnvas pack page  */
.image3 {
  background: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e85425605cae11f20d46181_denisse-leon-J7CjWufjmg4-unsplash.jpg")
    center/cover no-repeat;
  text-align: right;
  position: relative;
}
.image3 span {
  background-color: #eb5757;
  color: white;
  padding: 8px 20px;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 0.3125rem;
  font-size: 1rem;
}

.content-tent h2 {
  color: var(--color1);
  font-size: 2rem;
  line-height: 2.25rem;
  margin-bottom: 0.625rem;
}
.content-tent p {
  font-weight: 700;
  color: var(--color2);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}
.content-tent form {
  margin-bottom: 0.9375rem;
}
.content-tent form label {
  font-weight: 400;
  color: var(--color1);
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  margin-bottom: 0.7125rem;
}

input[type="number"] {
  width: 4.25rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--color2);
  font-size: 1rem;
  margin-right: 0.1rem;
  height: 2.375rem;
}
input[type="number"]:hover {
  border-color: #ff9f9f;
}
input[type="submit"] {
  padding: 8px 25px;
  font-weight: 700;
  color: #eb5757;
  font-size: 1rem;
  line-height: normal;
  border-radius: 0.3125rem;
  height: 2.375rem;
  border: 1px solid #eb5757;
  transition: background-color 0.2s ease-in-out, color;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #eb5757;
  color: #fff;
}
.content-tent .rich-texts h2 {
  color: var(--color1);
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 1.25rem 0 0.625rem;
}
.rich-texts p {
  font-weight: 400;
  color: var(--color1);
  font-size: 0.925rem;
  line-height: 1.5rem;
}
.rich-texts h4 {
  margin-block: 0.625rem;

  color: var(--color1);
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.rich-texts h3 {
  margin-top: 2.2rem;
  margin-bottom: 0.825rem;

  color: var(--color1);
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.rich-texts a {
  background-color: #000000;
  color: #d3cece;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 12px;
  border-radius: 15px;
  text-decoration: none;
}
.rich-texts a:hover {
  background-color: #434242;
  color: #d3cece;
}

/* START-FOOTER */
.footer {
  height: 27vh;
  background: #222222;
  width: 100%;
  display: flex;
  padding: 4.0625rem 0 0.625rem;
}

.content-foter {
  display: flex;
  justify-content: space-between;
  color: #f9f9f9;
  align-items: center;
  height: 50%;
  
}
.content-foter img {
  cursor: pointer;
  width: 5.5rem;
}
.icon {
 
  font-size: 2rem;
  font-weight: 400;
  line-height: 24px;
}
.text-foter {
  margin-bottom: 0;
}
.text-foter p {
  /* padding-top: 8rem; */
  font-size: 0.925rem;
  font-weight: 400;
  /* line-height: 18px; */
  color: #f9f9f9;
  text-align: center;
  /* vertical-align: bottom; */
}
.text-foter p span {
  color: rgb(235, 87, 87);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.text-foter p span:hover {
  text-decoration: none;
}
.text-bottome-footer {
  position: relative;
}
.loogo-text-bottom {
  background-color: #f9f9f9;
  padding: 5px 5px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}



.icon i {
  font-size: 2rem;
  padding: 0px 8px;
  background: #222222;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.icon i:hover {
  color: #bdbdbd;
}

@media (max-width: 768px) {
  .prodeuct-heading {
    flex-direction: column;
    gap: 1.5rem;
  }
  .prodeuct-heading .dimension-imgs {
    width: auto;
    height: 21.875rem;
    background-size: cover;
  }
  .announcement a {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .content-foter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.925rem;
  }
  .content-foter img {
    width: 6.5rem;
  }
  .text-foter p {
    padding-top: 1.2rem;
  }
  .icon {
    margin-bottom: 1.2rem;
  }
  .icon i {
    margin-right: 1.2rem;


  }
}
