@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Common Css  */
:root {
  --color1: #333;
  --color2: #222;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
body {
  font-family: "Sen", sans-serif;
  background-color: #fff;
}
.container {
  width: min(100%, 1120px);
  margin-inline: auto;
  padding-inline: 0.9375rem;
}
img {
  width: 100%;
}
/* sytle header*/
header {
  background-color: var(--color2);
  padding: 1.875rem 0;
  width: 100%;
}
.text-tent h1 {
  color: #f9f9f9;
  font-size: 2.375rem;
  line-height: 2.75rem;
  text-transform: capitalize;
}

/* Style for white tent */
.content-section {
  padding-block: 4.0625rem;
}
.white-tent {
  display: flex;
  gap: 3.75rem;
}
/* It is better to use image as backgrorund becouse height and width will not effect the imga it effects the div or the container in */

/* Check README file on the git branch called ➡ ➡  common branch the reason i commment there this img background */
/* .white-tent .image {
    background: url('https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg') top/ cover no-repeat;
    height: 30.25rem;
    width: 110rem;
    border-radius: 0.3125rem;
 } */

.content-tent h2 {
  color: var(--color1);
  font-size: 2rem;
  line-height: 2.25rem;
  margin-bottom: 0.625rem;
}
.content-tent p {
  font-weight: 700;
  color: var(--color2);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}
.content-tent form {
  margin-bottom: 0.9375rem;
}
.content-tent form label {
  font-weight: 400;
  color: var(--color1);
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  margin-bottom: 0.7125rem;
}

input[type="number"] {
  width: 4.25rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--color2);
  font-size: 1rem;
  margin-right: 0.1rem;
  height: 2.375rem;
}
input[type="number"]:hover {
  border-color: #ff9f9f;
}
input[type="submit"] {
  padding: 8px 25px;
  font-weight: 700;
  color: #eb5757;
  font-size: 1rem;
  line-height: normal;
  border-radius: 0.3125rem;
  height: 2.375rem;
  border: 1px solid #eb5757;
  transition: background-color 0.2s ease-in-out, color;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #eb5757;
  color: #fff;
}
.content-tent .rich-texts h2 {
  color: var(--color1);
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 1.25rem 0 0.625rem;
}
.rich-texts p {
  font-weight: 400;
  color: var(--color1);
  font-size: 0.925rem;
  line-height: 1.5rem;
}
.rich-texts h4 {
  margin-block: 0.625rem;

  color: var(--color1);
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.rich-texts h3 {
  margin-top: 2.2rem;
  margin-bottom: 0.825rem;

  color: var(--color1);
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.rich-texts a {
  background-color: #000000;
  color: #d3cece;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 12px;
  border-radius: 15px;
  text-decoration: none;
}
.rich-texts a:hover {
  background-color: #434242;
  color: #d3cece;
}
